@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');

body {
    font-family: 'Fira Sans', sans-serif;
}

.homePanel {
    color: darkblue;
    border-radius: 25px;
    border: 1px solid white;
    padding: 100px;
    background-color: white;
}

.panelTitle {
    font-size: 200%;
    font-weight: bold;
}

body {
    color: white;
    background-color: rgb(4, 46, 212);
}

#loginButton, #signupButton {
    color: darkblue;
}

#teacherDiv {
    font-size: 100%;
}

.modal {
    color: darkblue;
}

#footer {
    background-color: white;
    color: black;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    top: 105%;
}

img {
    border-radius: 25px;
}